<h1>Add Product Page</h1>
<form method="post">
    <label for="lname">Product name:</label><br>
    <input type="text" id="lname" name="productName"><br><br>
    <button class="btn btn-primary">Submit</button>
</form>